@page
@model GolfClubApp.Pages.Members.MemberListModel
@{
}

<h1> Members Handicap Ranking Table</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Handicap</th>
            <th scope="col">Gender</th>
            <th scope="col">Ranking</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>*@
        
        @foreach (var item in Model.Member)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Handicap</td>
                <td>@item.Sex</td>
            </tr>
        }

    </tbody>
</table>