@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please don't disclose any private details on this website!</p>
<p>We want to protect users - <i class="fas fa-user-shield"></i> </p>

