<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GolfClubApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GolfClubApp.styles.css" asp-append-version="true" />
    @*fontawesome for icons*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">



    

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><i class="fas fa-golf-ball" style="font-size:50px;color:green;"></i></a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Members/Index">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Bookings/Index">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Members/MemberList">Member Ranking Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            
                <div class="text-center ">

                    <h6>&copy; Created by Neil Smyth (2023) - <a asp-area="" asp-page="/Privacy">Privacy</a></h6>

                </div>
                <div class="text-center ">

                    <a href="https://github.com/NeiloErnesto89" target="_blank "><i class="fab fa-github" style="font-size:58px; color:green;"></i></a>

                </div>
            
        </div>
    </footer>*@

    <hr class="featurette-divider">

    <footer class="footer text-muted">
        <div class="container">
            
                <div class="col-md-12 m-2">
                    <div class="text-center">
                        <h6>&copy; Created by Neil Smyth (2023) - <a asp-area="" asp-page="/Privacy">Privacy</a></h6>
                    </div>
                
            </div>
            
                <div class="col-md-12 mt-3">
                    <div class="text-center">
                    <a href="https://github.com/NeiloErnesto89" target="_blank"><i class="fab fa-github" style="font-size: 58px; color: green;"></i></a>
                    </div>
                </div>
           
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>